
:root {
    /* 5BC0DE */
    --colorUiStatusInfo: #2d799f;    
    --colorUiStatusInfoLighten90: #f4f8fa;    
    /* 69BE28 */
    --colorUiStatusSuccess: #47810e;    
    --colorUiStatusSuccessLighten90: #f6f9f3;    
    /* FD8204 */
    --colorUiStatusWarning: #e96a20;    
    --colorUiStatusWarningLighten90: #fef8f4;    
    /* DA0000 */
    --colorUiStatusError: #da0000;    
    --colorUiStatusErrorLighten90: #fdf2f2;    
    --colorUiGreyWhite: #ffffff;    
    /* EAEDF3 */
    --colorUiGreyDarken5: #eaedf3;    
    /* DDE4EA */
    --colorUiGreyDarken10: #dde4ea;    
    --colorUiGreyDarken15: #d2d9df;    
    /* C7CED4 */
    --colorUiGreyDarken20: #c7ced4;    
    /* B1B8BE */
    --colorUiGreyDarken30: #b1b8be;    
    /* A6ADB3 */
    --colorUiGreyDarken35: #a6adb3;    
    /* 9BA2A8 */
    --colorUiGreyDarken40: #9ba2a8;    
    --colorUiGreyDarken45: #90979d;    
    /* 848B91 */
    --colorUiGreyDarken50: #848b91;    
    /* 6F767C */
    --colorUiGreyDarken60: #6f767c;    
    /* 595F65 */
    --colorUiGreyDarken70: #595f65;    
    /* 43494F */
    --colorUiGreyDarken80: #43494f;    
    --colorUiGreyBlack: #010101;    
    /* 000E82 */
    --colorPrimaryBase: #5d03ea;    
    /* 000D75 */
    --colorPrimaryDarken10: #5403d3;    
    /* 000B68 */
    --colorPrimaryDarken20: #4a02bb;    
    /* 000D7B */
    --colorPrimaryDarken5: #5803de;    
    /* 333E9B */
    --colorPrimaryLighten20: #7d35ee;    
    /* 666EB4 */
    --colorPrimaryLighten40: #9e68f2;    
    /* 999FCD */
    --colorPrimaryLighten60: #be9af7;    
    /* CCCFE6 */
    --colorPrimaryLighten80: #dfcdfb;    
    /* E5E7F3 */
    --colorPrimaryLighten90: #efe6fd;    
    /* 141437 */
    --colorSecondaryBase: #3addd9;    
    /* 121231 */
    --colorSecondaryDarken10: #34c7c3;    
    /* 10102C */
    --colorSecondaryDarken20: #2eb1ae;    
    /* 131334 */
    --colorSecondaryDarken5: #37d2ce;    
    /* 43435F */
    --colorSecondaryLighten20: #61e4e1;    
    /* 727287 */
    --colorSecondaryLighten40: #89ebe8;    
    /* A1A1AF */
    --colorSecondaryLighten60: #b0f1f0;    
    /* D0D0D7 */
    --colorSecondaryLighten80: #d8f8f7;    
    /* E7E7EB */
    --colorSecondaryLighten90: #ebfcfb;    
}