/* e.g. Headline 0 */
.typographyLargescreenDisplayxLarge 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* e.g. Headline 1 */
.typographyLargescreenDisplaylarge 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* e.g. Headline 2 */
.typographyLargescreenDisplaymedium 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* e.g. Headline 3 */
.typographyLargescreenDisplaysmall 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* e.g. Card headings */
.typographyLargescreenHeading 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* e.g. Card subheadings, tags */
.typographyLargescreenSubheading 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* e.g. Headline 0 */
.typographySmallscreenDisplayxLarge 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographySmallscreenDisplaylarge 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* e.g. Headline 2 */
.typographySmallscreenDisplaymedium 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* e.g. Headline 3 */
.typographySmallscreenDisplaysmall 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* e.g. Card heading */
.typographySmallscreenHeading 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* e.g. Card subheading */
.typographySmallscreenSubheading 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Regular Body Styling */
.typographyBodyRegular 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Bold Body Styling */
.typographyBodyBold 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Snippets, teasers */
.typographyBodyLargeregular 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Bold Snippets, teasers  */
.typographyBodyLargebold 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Captions */
.typographyBodySmallregular 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Bold captions */
.typographyBodySmallbold 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Fineprint */
.typographyBodyXSmallregular 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Bold Fineprint */
.typographyBodyXSmallbold 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for Input & Interaction labels */
.typographyBodyFormlabel 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Button Label */
.typographyActionDefault 
 {
  
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Inline Link */
.typographyActionLink 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

